* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

.container{
  display: grid;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 50px;
}

.add-user{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 20px;
}

.user-name{
  padding-bottom: 20px;
}

.add-name{
  padding-bottom: 20px;
}

.adduser-btn{
  display: flex;
  justify-content: center;
}
.display-user{
  display: flex;
  padding-top: 20px;
}

.user-div{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-bottom: 10px;
  padding: 20px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.delete-btn{
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.update-btn{
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media(max-width:600px) {
  .container{
    display: grid;
    justify-content: center;
    padding-bottom: 50px;
  }
  .add-user{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 20px;
    /* width: 200px; */
  }
}